<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <entry key="db-url">jdbc:postgresql://localhost/project</entry>
    <entry key="db-user">postgres</entry>
    <entry key="db-password">app</entry>
</properties>